.updateProduct {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 120px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .close-update {
    position: absolute;
    top: 120px;
    right: 100px;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
  }
  .updateProductForm {
    margin-top: 10px;
  }
  
  .updateProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .updateProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .imgUrl {
    width: 300px;
    height: 300px;
    margin-top: 120px;
    cursor: pointer;
  }

  .updateProductItem > input {
    padding: 10px;
  }
  
  .updateProductItem > select {
    padding: 10px;
  }
  
  .updateProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  